html 
    body 
        a(href='/') |-- Home --|
        br
        script(src='functions.js')
        lable Username: 
        input#username(type="text" size='20')
        br
        lable Password: 
        input#password(type="text" size='20')
        br
        button(onclick='register()') Register